@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --starship: #F3DB4C;
  --mine-shaft: #373737;
  --husk: #B2A443;
  --sycamore: #94843C;
  --white: #fff;
  --max-width: 1400px;
  --padding: 8px;
  --margin: 10px;
  --border-radius: 8px;
  --trasnsition: 1s;
}

::selection {
  background: var(--sycamore);
}

body {

  font-family: "Montserrat", sans-serif;
  background: var(--mine-shaft);
  line-height: 24px;
  font-size: 16px;
}

header {
  text-align: center;
  color: var(--starship);
  border-bottom: solid 1px var(--sycamore);
  margin-bottom: var(--margin);

}

h1,h2 {
  padding: var(--padding);
  color: #F3DB4C;
}

section {
  padding: var(--padding);
}

a {
  color: var(--starship);
  text-decoration: none;
}

p {
  font-size: 1rem;
  color: var(--white);
}

p::first-letter {
  color: var(--starship);
  font-size: 1.4rem;
  font-weight: 700;
}

ul {
  list-style: none;
}

ul.list>li.item {
  cursor: pointer;
  color: var(--starship)
}

li.item:hover a {
  color: var(--mine-shaft)
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--padding);
}

.card {
  width: 450px;
  border: 1px solid var(--husk);
  border-radius: var(--border-radius);
  margin: var(--margin) auto;
}
.card__header {
  padding: var(--padding);
}
.card__title {
  word-break: break-all;
}
.card_body {
  padding: var(--padding);
}
.card__img {
  width: 100%;
  padding: var(--padding);
}
.card__paragraph {
  padding: var(--padding);
}
.button {
  background: var(--starship);
  color: var(--mine-shaft);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--starship);
  display: inline-flex;
  align-items: center;
  margin: var(--margin);
}
.button--outline {
  background: var(--starship);
  color: var(--mine-shaft);
}
.button--outline:hover {
  background: var(--mine-shaft);
  color: var(--starship);
}
.button:hover {
 background: var(--mine-shaft);
 color: var(--starship);
}
.button__icon {
  font-size: 1rem;
}
.list {
  text-align: center;
  padding: var(--padding);
}
.item {
  border-bottom: solid 1px var(--sycamore);
  transition: 1s;
  font-size: 1.2rem;
}
.item:hover {
  background-color: var(--sycamore);
  color: var(--mine-shaft)
}

ul.list>li.item a:visited {
  color: var(--mine-shaft)
}
.search {
  display: inline-flex;
  width: var(--max-width);
  justify-content: end;
  align-items: center;
}
input {
  padding: var(--padding);
  border: solid 0.5px var(--starship);
  border-radius: 4px;
  outline: none;
}
.search__form {
  width: 270px;
  padding: var(--padding);
  background-color: var(--mine-shaft);
  border-radius: var(--border-radius);
  border: solid 1px var(--starship);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 20px;
  margin: var(--margin);
}